<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <h3>Sobre Nosotros</h3>
      <p>YVAGA es un espacio dedicado para que encuentres las prendas que más te destaquen en lo simple.</p>
    </div>
    <div class="footer-section links">
      <h3>Enlaces Rápidos</h3>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/auth/login">Iniciar Sesión</a></li>
        <li><a routerLink="/auth/register">Registrarse</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} YVAGA. Todos los derechos reservados.</p>
  </div>
</footer>