<div class="home-container">
  <section class="hero-con-video">
    <video autoplay [muted]="true" loop playsinline class="video-bg">
      <source src="assets/videofondo.mp4" type="video/mp4" />
    </video>

    <div class="overlay-video"></div>

    <div class="hero-content">
      <h1>NUEVA COLECCIÓN</h1>
      <p>Descubre el estilo urbano que define tu identidad.</p>
      <button class="btn primary">VER PRODUCTOS</button>
    </div>
  </section>

  <div class="search-bar-container">
    <input
      type="text"
      class="search-input"
      placeholder="Buscar remeras, buzos..."
      [(ngModel)]="searchTerm"
      (input)="filterProducts()"
    />
    <span class="search-icon">🔍</span>
  </div>

  <div class="products-section" id="productos">
    <h2>NUESTROS PRODUCTOS</h2>

    <app-product-list [products]="filteredProducts"></app-product-list>

    <p *ngIf="filteredProducts.length === 0" class="no-results">
      No encontramos productos con ese nombre.
    </p>
  </div>
</div>
