<div class="hero-con-video">
  <video class="video-bg" autoplay muted loop playsinline [muted]="true">
    <source src="assets/videofondo.mp4" type="video/mp4" />
  </video>

  <div class="overlay-video"></div>

  <div class="hero-content">
    <h1>NUEVA COLECCIÓN 2026</h1>
    <p>Descubrí la nueva tendencia en moda urbana.</p>
  </div>



</div> <div class="section-separator">
  <h2>EXPLORÁ POR CATEGORÍA</h2>
  <div class="linea-decorativa"></div>
</div>



<section class="stories-section">
  <div class="stories-container">
    
    <div 
      class="story-item" 
      *ngFor="let story of stories"
      [routerLink]="story.link"
      [queryParams]="{ filter: story.param }"
    >
      <div class="story-ring">
        <img [src]="story.img" [alt]="story.name" class="story-img">
      </div>
      <span class="story-name">{{ story.name }}</span>
    </div>

  </div>
</section>

<div class="section-separator">

<section class="categories-container">
  <div
    class="category-card"
    routerLink="/products"
    [queryParams]="{ category: 'remeras' }"
  >
    <div class="image-wrapper">
      <img
        src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab?q=80&w=800&auto=format&fit=crop"
        alt="Remeras"
        class="cat-img"
      />
    </div>
    <div class="category-overlay">
      <h3>REMERAS</h3>
      <span class="btn-shop">VER MÁS</span>
    </div>
  </div>

  <div
    class="category-card"
    routerLink="/products"
    [queryParams]="{ category: 'buzos' }"
  >
    <div class="image-wrapper">
      <img
        src="https://images.unsplash.com/photo-1556905055-8f358a7a47b2?q=80&w=800&auto=format&fit=crop"
        alt="Buzos"
        class="cat-img"
      />
    </div>
    <div class="category-overlay">
      <h3>BUZOS</h3>
      <span class="btn-shop">VER MÁS</span>
    </div>
  </div>

  <div
    class="category-card"
    routerLink="/products"
    [queryParams]="{ category: 'pantalones' }"
  >
    <div class="image-wrapper">
      <img
       src="https://images.unsplash.com/photo-1624378439575-d8705ad7ae80?q=80&w=800&auto=format&fit=crop"
        alt="Pantalones"
        class="cat-img"
      />
    </div>
    <div class="category-overlay">
      <h3>PANTALONES</h3>
      <span class="btn-shop">VER MÁS</span>
    </div>
  </div>
</section>

